In [3]:
import pandas as pd

In [4]:
"""Problem 1: Create a dataframe to display the result as below:"""
#Crear diccionario
Diccionario = {'Student' : ['David','Samuel','Terry','Evan'], 'Age' : [27,24,22,32], 'Country' : ['UK','Canada','China','USA'], 
'Course' : ['Python','Data Structures','Machine Learning','Web Development'], 'Marks' : [85,72,89,76]}

#Hacer DataFrame
DataF = pd.DataFrame(Diccionario)

#Mostrar DataFrame
print(DataF)

  Student  Age Country            Course  Marks
0   David   27      UK            Python     85
1  Samuel   24  Canada   Data Structures     72
2   Terry   22   China  Machine Learning     89
3    Evan   32     USA   Web Development     76

In [6]:
"""Problem 2: Retrieve the Marks column and assign it to a variable b"""
b = DataF[['Marks']]
print(b)

   Marks
0     85
1     72
2     89
3     76

In [7]:
"""Problem 3: Retrieve the Country and Course columns and assign it to a variable c"""
c = DataF[['Country','Course']]
print(c)

  Country            Course
0      UK            Python
1  Canada   Data Structures
2   China  Machine Learning
3     USA   Web Development

In [13]:
x = {'Name': ['Rose','John', 'Jane', 'Mary'], 'ID': [1, 2, 3, 4], 'Department': ['Architect Group', 'Software Group', 'Design Team', 'Infrastructure'], 
      'Salary':[100000, 80000, 50000, 60000]}

#casting the dictionary to a DataFrame
df = pd.DataFrame(x)

df1=df
df1=df1.set_index("Name")
df1

      ID       Department  Salary
Name
Rose   1  Architect Group  100000
John   2   Software Group   80000
Jane   3      Design Team   50000
Mary   4   Infrastructure   60000

In [10]:
"""Use the loc() function,to get the Department of Jane in the newly created dataframe df1."""
df1.loc['Jane', 'Department']

'Design Team'

In [12]:
"""Use the iloc() function,to get the Salary of Mary in the newly created dataframe df1."""
df1.iloc[3,2]

60000

In [14]:
"""using loc() function, do slicing on old dataframe df to retrieve the Name, ID and department of index column having labels as 2,3"""
df.loc[2:3, 'Name':'Department']

   Name  ID      Department
2  Jane   3     Design Team
3  Mary   4  Infrastructure